<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BuildScreen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BuildScreen.Properties.Settings>
            <setting name="OptionsSetup_Server_Domain" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="OptionsSetup_Server_Port" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="OptionsSetup_UserCredentials_UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="OptionsSetup_UserCredentials_Password" serializeAs="String">
                <value />
            </setting>
            <setting name="OptionsSetup_Server_SecureSocketLayer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OptionsSetup_Server_IgnoreInvalidCertificate"
                serializeAs="String">
                <value>False</value>
            </setting>
        </BuildScreen.Properties.Settings>
    </userSettings>
</configuration>