<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BuildScreen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <section name="pluginConfiguration" type="BuildScreen.Plugin.Configuration.XmlSerializerSectionHandler, BuildScreen"/>
    </configSections>
    <userSettings>
        <BuildScreen.Properties.Settings>
            <setting name="Domain" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="RefreshInterval" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="UseSsl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IgnoreInvalidCertificate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Testis" serializeAs="String">
                <value />
            </setting>
            <setting name="HideInactive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideInactiveWeeks" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="NumberOfColumns" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BaseUrlTeamCity" serializeAs="String">
                <value>{0}://{1}:{2}/httpAuth/app/rest/</value>
            </setting>
            <setting name="BaseUrlHudson" serializeAs="String">
                <value>{0}://{1}:{2}/</value>
            </setting>
            <setting name="BaseUrlBamboo" serializeAs="String">
                <value>{0}://{1}:{2}/rest/api/</value>
            </setting>
        </BuildScreen.Properties.Settings>
    </userSettings>
    <pluginConfiguration type="BuildScreen.Plugin.Configuration.PluginConfigurationSection, BuildScreen">
        <plugins>
          <plugin type="BuildScreenPlugin.Class1" name="BuildScreenPlugin.dll" />
        </plugins>
    </pluginConfiguration>
</configuration>